*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    /* list-style-type: none; */
    /* color: blue; */
}
ul, ol{
    list-style: none;
}
img{
    width: 100%;
}

